﻿@page "/app/hoyolab/calendar"
@using ChipBot.Core.Web.Models
@using ChipBot.Core.Web.Services
@using HoyolabPlugin.Shared.Api.Models.Hakushin
@using HoyolabPlugin.Web.Models
@using Humanizer
@using System.Net.Http.Json
@using System.Globalization
@attribute [PageInfo(Icon = "hoyo-gi-geo", Link = "/app/hoyolab/calendar", Name = "Calendar", Category = "HoyoLab", Order = 34)]
@inject HttpClient httpClient
@inject LocalStorageService localStorage

<nav class="nav nav-pills flex-column flex-md-row">
    @foreach (Tabs value in Enum.GetValues(typeof(Tabs)))
    {
        <span role="button" class="flex-sm-fill text-sm-center nav-link @(value == currentTab ? "active" : "")" @onclick="() => ChangeTab(value)">@value.ToString()</span>
    }
</nav>

<div class="d-flex flex-wrap mt-5">
    <div class="m-1">
        <div class="d-flex">
            @switch (currentTab)
            {
                case Tabs.Calendar:
                    if (initialLoadDone)
                    {
                        <GenshinCalendar Characters="GetSubbedCharacters" Weapons="GetSubbedWeapons" Items="data?.Items" />
                    }
                    break;

                case Tabs.Characters:
                    <GenshinCharacters Characters="data?.Characters" SubList="subs.Characters" NotifySubChange="() => _ = GetSubsFull()" />
                    break;

                case Tabs.Weapons:
                    <GenshinWeapons Weapons="data?.Weapons" SubList="subs.Weapons" NotifySubChange="() => _ = GetSubsFull()" />
                    break;

                default:
                    <span>???</span>
                    break;
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private Tabs currentTab = Tabs.Calendar;
    private HakushinData data;

    private GenshinCalendarSubs subs;

    private bool initialLoadDone = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            data = await httpClient.GetFromJsonAsync<HakushinData>("/hakushin/data?full=false");
            data.CharactersFull = [];
            data.WeaponsFull = [];
            data.ItemsFull = [];

            subs = await localStorage.GetValueAsync<GenshinCalendarSubs>(GenshinCalendarSubs.localStorageKey) ?? new();

            await GetSubsFull(true);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            WebAppState.PushToast(new ToastModel()
                {
                    Icon = "bi bi-exclamation-square",
                    Message = $"Error while hakushin or subscribtions data: {ex.Message}",
                    IsSimple = true
                });
        }

        initialLoadDone = true;
    }

    private List<CharacterFull> GetSubbedCharacters
    {
        get
        {
            if (subs == null) return null;
            var result = new List<CharacterFull>();
            foreach (var id in subs.Characters)
            {
                if (data.CharactersFull?.TryGetValue(id, out var character) ?? false)
                {
                    result.Add(character);
                }
            }
            return result;
        }
    }

    private List<WeaponFull> GetSubbedWeapons
    {
        get
        {
            if (subs == null) return null;
            var result = new List<WeaponFull>();
            foreach (var id in subs.Weapons)
            {
                if (data.WeaponsFull?.TryGetValue(id, out var weapon) ?? false)
                {
                    result.Add(weapon);
                }
            }
            return result;
        }
    }

    private async Task GetSubsFull(bool skipSave = false)
    {
        try
        {
            using var loader = WebAppState.GetLoader();

            if (!skipSave)
            {
                await localStorage.SetValueAsync(GenshinCalendarSubs.localStorageKey, subs);
            }

            foreach (var characterId in subs.Characters)
            {
                if (!data.CharactersFull.ContainsKey(characterId))
                {
                    data.CharactersFull.Add(characterId, await httpClient.GetFromJsonAsync<CharacterFull>($"/hakushin/character?id={characterId}"));
                }
            }

            foreach (var weaponId in subs.Weapons)
            {
                if (!data.WeaponsFull.ContainsKey(weaponId))
                {
                    data.WeaponsFull.Add(weaponId, await httpClient.GetFromJsonAsync<WeaponFull>($"/hakushin/weapon?id={weaponId}"));
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            WebAppState.PushToast(new ToastModel()
                {
                    Icon = "bi bi-exclamation-square",
                    Message = $"Error while getting specific character information: {ex.Message}",
                    IsSimple = true
                });
        }
    }

    private void ChangeTab(Tabs tab)
    {
        currentTab = tab;
    }

    private enum Tabs
    {
        Calendar,
        Characters,
        Weapons
    }
}