﻿@page "/app/hoyolab/daily"
@using ChipBot.Core.Web.Models
@using ChipBot.Core.Web.Services
@using Humanizer
@using System.Net.Http.Json
@attribute [PageInfo(Icon = "hoyo-gi-pyro", Link = "/app/hoyolab/daily", Name = "Daily", Category = "HoyoLab", Order = 35)]
@inject HttpClient httpClient
@inject LocalStorageService localStorage

<h1>HoyoLab Daily</h1>

<div class="d-flex flex-wrap">
    <div class="m-1">
        @if (accounts != null)
        {
            <div class="mb-3">
                <button class="btn dropdown-toggle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle account">
                    <HoyolabAccountComponent Account=selectedAccount />
                </button>
                <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
                    @foreach (var account in accounts)
                    {
                        <li>
                            <div class="dropdown-item" role="button" @onclick="async (e) => await SetSelectedAccount(account)">
                                <HoyolabAccountComponent Account=account />
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <div class="mb-3">
                @if (selectedAccount.Game == "hk4e_global")
                {
                    <GenshinDailyNote Account="selectedAccount" />
                }
                else if (selectedAccount.Game == "hkrpg_global")
                {
                    <HsrDailyNote Account="selectedAccount" />
                }
            </div>
        }
        else
        {
            <p>No linked accounts found</p>
        }
    </div>
</div>

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private List<HoyolabGameAccountApi> accounts;
    private HoyolabGameAccountApi selectedAccount;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            accounts = await httpClient.GetFromJsonAsync<List<HoyolabGameAccountApi>>("/hoyolab/accounts");

            var selectedKey = await localStorage.GetValueAsync(Constants.selectedAccountKey);
            if (selectedKey != null)
            {
                selectedAccount = accounts.FirstOrDefault(a => GameAccountKey.Build(a).ToString() == selectedKey);
            }

            if (selectedAccount == null)
            {
                selectedAccount = accounts.FirstOrDefault();
            }
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async Task SetSelectedAccount(HoyolabGameAccountApi account)
    {
        selectedAccount = account;
        await localStorage.SetValueAsync(Constants.selectedAccountKey, GameAccountKey.Build(account).ToString());
        StateHasChanged();
    }
}