﻿@page "/app/points/leaderboard"
@using PointsPlugin.Shared.Api
@attribute [PageInfo(Icon = "bi bi-bar-chart-line", Link = "/app/points/leaderboard", Name = "Leaderboard", Category = "Points", Order = 5)]
@inject HttpClient httpClient

<h1>Points</h1>
<div class="d-flex flex-wrap">
    <div class="d-flex flex-column m-1 col-12 col-sm-9 col-md-6 col-lg-4 col-2">
        <h2>Leaderboard</h2>
        <TryGetFromApi TModel="Dictionary<ulong, long>" Link="/points/all">
            <OnSuccess>
                @{
                    var i = 1;
                }
                @foreach (var (userId, points) in context)
                {
                    <div class="d-flex mb-1 col-12">
                        <span class="me-1">@(i++).</span>
                        <UserCardSmall UserId="userId" />
                        <span class="ms-3 flex-fill text-end">@points <i class="bi bi-coin"></i></span>
                    </div>
                }
            </OnSuccess>
            <OnFail><p>Failed to load Leaderboard Information</p></OnFail>
        </TryGetFromApi>
    </div>
</div>