﻿@page "/app/points/wallet"
@using Humanizer
@using PointsPlugin.Shared.Api
@attribute [PageInfo(Icon = "bi bi-wallet2", Link = "/app/points/wallet", Name = "Wallet", Category = "Points", Order = 1)]
@inject HttpClient httpClient

<h1>Points</h1>
<div class="d-flex flex-wrap">
    <div class="m-1">
        <h2>Wallet</h2>
        <TryGetFromApi TModel="PointsWallet" Link="/points/wallet">
            <OnSuccess>
                <div class="d-flex flex-column">
                    <BalanceComponent Balance="@context.Balance" />
                    <div>
                        <span>Last transactions:</span>
                        <div>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var t in context.Transactions)
                                    {
                                        <tr>
                                            <th title="@t.DateTime.Humanize()">@t.DateTime</th>
                                            <td class="@(t.Points > 0 ? "text-success" : "text-danger")">@t.Points</td>
                                            <td>@t.Reason</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </OnSuccess>
            <OnFail><p>Failed to load Wallet Information</p></OnFail>
        </TryGetFromApi>
    </div>
</div>