﻿@page "/app/points/raffle"
@using ChipBot.Core.Web.Models
@using Humanizer
@using RafflePlugin.Shared
@using System.Net.Http.Json
@attribute [PageInfo(Icon = "bi bi-dice-3", Link = "/app/points/raffle", Name = "Raffle", Category = "Points", Order = 2)]
@inject HttpClient httpClient

<h1>Points</h1>
@if (mediator != null)
{
    <div class="d-flex flex-wrap">
        <div class="m-3">
            <h2>Wallet</h2>
            <div class="d-flex flex-column">
                <TryGetFromApi TModel="long" Link="/points/my" UseLoader="false" RefreshMediator="mediator">
                    <OnSuccess>
                        <BalanceComponent Balance="@context" />
                    </OnSuccess>
                    <OnLoading>
                        <BalanceComponent />
                    </OnLoading>
                    <OnFail><div>Failed to load Wallet Information</div></OnFail>
                </TryGetFromApi>
            </div>
        </div>
        <div class="m-3">
            <h2>Raffle</h2>
            <div class="d-flex flex-column">
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Points to lose" @bind="raffleAmount" />
                    <button class="btn btn-outline-secondary" type="button" disabled="@isLoading" @onclick="DoRaffle">Raffle</button>
                </div>
                <TryGetFromApi TModel="RaffleStatistics" Link="/raffle/statistics" UseLoader="false" RefreshMediator="mediator">
                    <OnSuccess>
                        <RaffleStatisticsComponent RaffleStatistics="@context" />
                    </OnSuccess>
                    <OnLoading>
                        <RaffleStatisticsComponent />
                    </OnLoading>
                    <OnFail><div>Failed to load Raffle Statistics</div></OnFail>
                </TryGetFromApi>
            </div>
        </div>
        <div class="m-3">
            <h2>Leaderboard</h2>
            <div class="d-flex flex-column">
                <TryGetFromApi TModel="RaffleLeaderboardleStatistics" Link="/raffle/leaderboard" UseLoader="false" RefreshMediator="mediator">
                    <OnSuccess>
                        <RaffleLeaderboardComponent RaffleStatistics="@context" />
                    </OnSuccess>
                    <OnLoading>
                        <RaffleLeaderboardComponent />
                    </OnLoading>
                    <OnFail><div>Failed to load Raffle Leaderboard Statistics</div></OnFail>
                </TryGetFromApi>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private RefreshMediator mediator;

    private long raffleAmount = 0;
    private bool isLoading = false;

    protected override void OnInitialized()
    {
        mediator = new();
    }

    private async Task DoRaffle()
    {
        if (isLoading) return;
        isLoading = true;
        try
        {
            if (raffleAmount < 10)
            {
                throw new Exception("You can't raffle less than 10 points");
            }
            var response = await httpClient.PostAsync($"/raffle/roll?points={raffleAmount}", null);

            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadFromJsonAsync<RaffleResult>();
                WebAppState.PushToast(ToastModel.FromSuccess(string.Format(json.ResultMessage, "", json.Rolled, json.PointsWon, " points", json.CurrentPoints)));
                mediator.RequireRefresh();
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                throw new Exception(await response.Content.ReadAsStringAsync());
            }
            else
            {
                response.EnsureSuccessStatusCode();
            }
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
        finally
        {
            isLoading = false;
        }
    }
}