﻿@page "/app/attendance/reports"

@attribute [PageInfo(Icon = "bi bi-calendar3", Link = "/app/attendance/reports", Name = "Reports", Category = "Attendance", Order = 1)]
@inject HttpClient httpClient

<h1>Attendance</h1>
<div class="d-flex flex-wrap">
    <div class="m-1">
        <h2>Report</h2>
        <TryGetFromApi TModel="Dictionary<DateTimeOffset, DayReportApi>" Link="/attendance/reportbulk">
            <OnSuccess>
                @{
                    var ordered = context.OrderBy(kv => kv.Key);
                    var allUserIds = context.Values.Where(v => v != null).SelectMany(r => r.FullPresence.Concat(r.LowActivity).Concat(r.MessageOnly)).Distinct();
                }
                <div class="row clearfix g-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex mb-3 flex-wrap">
                                    <div class="me-2">
                                        <i class="bi bi-clock text-success me-1"></i>
                                        <span>High Activity</span>
                                    </div>
                                    <div class="me-2">
                                        <i class="bi bi-clock-history text-warning me-1"></i>
                                        <span>Low Activity</span>
                                    </div>
                                    <div class="me-2">
                                        <i class="bi bi-chat-text text-warning me-1"></i>
                                        <span>Message Only</span>
                                    </div>
                                    <div class="me-2">
                                        <i class="bi bi-x-circle text-danger me-1"></i>
                                        <span>Full Day Absence</span>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover align-middle mb-0" style="width:100%">
                                        <tr>
                                            <th>
                                                User
                                            </th>
                                            @foreach (var kv in ordered)
                                            {
                                                <th>
                                                    <div class="d-flex flex-column align-items-center">
                                                        <div>@($"{kv.Key.Date.Month:00}.{kv.Key.Date.Day:00}")</div>
                                                        <div>@kv.Key.Date.DayOfWeek</div>
                                                    </div>
                                                </th>
                                            }
                                        </tr>
                                        @foreach (var userId in allUserIds)
                                        {
                                            <tr>
                                                <td>
                                                    <UserCardSmall UserId="userId" />
                                                </td>
                                                @foreach (var kv in ordered)
                                                {
                                                    <td>
                                                        @if (kv.Value != null)
                                                        {
                                                            <div class="d-flex flex-column align-items-center">
                                                                @if (kv.Value.FullPresence.Contains(userId))
                                                                {
                                                                    <i class="bi bi-clock text-success"></i>
                                                                }
                                                                else if (kv.Value.LowActivity.Contains(userId))
                                                                {
                                                                    <i class="bi bi-clock-history text-warning"></i>
                                                                }
                                                                else if (kv.Value.MessageOnly.Contains(userId))
                                                                {
                                                                    <i class="bi bi-chat-text text-warning"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="bi bi-x-circle text-danger"></i>
                                                                }
                                                            </div>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </OnSuccess>
            <OnFail><p>Failed to load Attendance reports information</p></OnFail>
        </TryGetFromApi>
    </div>
</div>