﻿@inject HttpClient httpClient

@if (current == null)
{
    <div class="form-check form-switch placeholder-wave">
        <input class="form-check-input placeholder" disabled="disabled" type="checkbox" role="switch" id="an-sw-@Endpoint" />
        <label class="form-check-label" for="an-sw-@Endpoint">Is Subscribed?</label>
    </div>
}
else
{
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="an-sw-@Endpoint" checked="@current" @onchange="(e) => OnSwitchChange((bool)e.Value)" />
        <label class="form-check-label" for="an-sw-@Endpoint">Is Subscribed?</label>
    </div>
}

@code {
    [Parameter]
    public string Endpoint { get; set; }

    private bool? current;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            current = await httpClient.GetFromJsonAsync<bool>($"/animal/{Endpoint}/current");
        }
        catch { }
    }

    private async Task OnSwitchChange(bool value)
    {
        try
        {
            await httpClient.PostAsync($"/animal/{Endpoint}/{(value ? "" : "un")}subscribe", null);
        }
        catch { }
    }
}
