﻿@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@using Humanizer
@using System.Net.Http.Json
@attribute [UserSettingsItem(Name = "Animal", ComponentType = typeof(AnimalUserSettingsItem), Order = 80)]

<div class="d-flex flex-row">
    <div class="col-6">
        <h4>Cats</h4>
        <AnimalSubscriptionSwitch Endpoint="cat" />
    </div>
    <div class="col-6">
        <h4>Dogs</h4>
        <AnimalSubscriptionSwitch Endpoint="dog" />
    </div>
</div>