﻿@page "/app/wow/raidcheck"
@using ChipBot.Core.Web.Models
@using ChipBot.Core.Web.Services
@using Humanizer
@using System.Net.Http.Json
@attribute [PageInfo(Icon = "bi bi-grip-horizontal", Link = "/app/wow/raidcheck", Name = "Raid Check", Order = 36, Hidden = true)]
@* Category = "WarCraft" *@
@inject HttpClient httpClient
@inject LocalStorageService localStorage

@if (CurrentZone != null)
{
    <h1>@CurrentZone.Name</h1>
    @if (rankings != null)
    {
        <div class="accordion">
            @foreach (var encounter in CurrentZone.Encounters)
            {
                var ranks = rankings.ToDictionary(kv => kv.Key, kv => { kv.Value.TryGetValue(encounter.Id, out var rank); return rank; });
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-enc-@encounter.Id" aria-expanded="true" aria-controls="acc-enc-@encounter.Id">
                            @{var average = @ranks.Values.Average(rank => rank?.Percentile ?? 0);}
                            <span>@encounter.Name - <span style="color:@ClassColorUtility.GetLogColor(average)">Average Log: @average.ToString("0") , Average Difficulty: @DifficultyToText((long)@ranks.Values.Average(rank => rank?.Difficulty))</span></span>
                        </button>
                    </h2>
                    <div id="acc-enc-@encounter.Id" class="accordion-collapse collapse">
                        <div class="accordion-body d-flex flex-wrap gap-3">
                            @foreach (var (character, rank) in ranks)
                            {
                                <div><span style="color:#@ClassColorUtility.GetColor(rank?.Class)">@character</span> - <span style="color:@ClassColorUtility.GetLogColor(rank?.Percentile ?? 0)">@(rank?.Percentile.ToString("0") ?? "0") @DifficultyToText(rank?.Difficulty)</span></div>
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
    }
}
else
{
    <h1>Raid Check</h1>
    <p>Please use addon to get here</p>
}

@code {
    [SupplyParameterFromQuery]
    public int Zone { get; set; }

    [SupplyParameterFromQuery]
    public string Region { get; set; }

    [SupplyParameterFromQuery]
    public string Characters { get; set; }

    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private Dictionary<string, Dictionary<int, Rankings>> rankings;
    private Dictionary<int, Zones> zones;

    private Zones CurrentZone;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            if (Zone <= 0 || string.IsNullOrWhiteSpace(Region) || string.IsNullOrWhiteSpace(Characters)) return;
            rankings = await httpClient.GetFromJsonAsync<Dictionary<string, Dictionary<int, Rankings>>>($"/warcraft/rankingsbulk?region={Region.ToUpperInvariant()}&zone={Zone}&characters={Characters}");
            zones = await httpClient.GetFromJsonAsync<Dictionary<int, Zones>>("/warcraft/zones");
            zones.TryGetValue(Zone, out CurrentZone);
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private string DifficultyToText(long? diff = null)
    {
        switch (diff)
        {
            case 1:
                return "LFR";
            case 3:
                return "NM";
            case 4:
                return "HC";
            case 5:
                return "MM";
            default:
                return "";
        }
    }
}
