﻿@if (Balance.HasValue)
{
    <div>
        <span>Your balance: </span>
        <span><strong>@Balance.Value</strong> <i class="bi bi-coin"></i></span>
    </div>
}
else
{
    <div>
        <span>Your balance: </span>
        <span class="placeholder-wave"><strong class="placeholder">balance</strong> <i class="bi bi-coin"></i></span>
    </div>
}


@code {
    [Parameter]
    public long? Balance { get; set; }
}
