﻿@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@using PointsPlugin.Shared.Api
@using Humanizer
@using System.Net.Http.Json
@attribute [DashboardItemAttribute(Name = "Wallet", Icon = "bi bi-wallet2", ComponentType = typeof(WalletDashboardItem))]
@inject HttpClient httpClient

<div class="card-text">
    <BalanceComponent Balance="balance" />
</div>

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private long? balance;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            balance = await httpClient.GetFromJsonAsync<long>("/points/my");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }
}