﻿@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@using Humanizer
@using System.Net.Http.Json
@attribute [UserSettingsItem(Name = "Birthday", ComponentType = typeof(BirthdayUserSettingsItem), Order = 90)]
@inject HttpClient httpClient

<div class="d-flex flex-column">
    @if (month == 0 && day == 0)
    {
        <div class="input-group placeholder-wave">
            <span class="input-group-text">Month</span>
            <input type="number" max="12" min="1" aria-label="Month" class="form-control placeholder" value="month" disabled="disabled">
            <span class="input-group-text">Day</span>
            <input type="number" max="31" min="1" aria-label="Day" class="form-control placeholder" value="day" disabled="disabled">
        </div>
    }
    else
    {
        <div class="input-group">
            <span class="input-group-text">Month</span>
            <input type="number" max="12" min="1" aria-label="Month" class="form-control" value="@month" @onchange="(e) => { month = e.Value != null ? byte.Parse((string)e.Value) : (byte)1; OnBirthdayChange(); }">
            <span class="input-group-text">Day</span>
            <input type="number" max="31" min="1" aria-label="Day" class="form-control" value="@day" @onchange="(e) => { day = e.Value != null ? byte.Parse((string)e.Value) : (byte)1; OnBirthdayChange(); }">
        </div>
    }
</div>

@code {
    private byte month;
    private byte day;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var my = await httpClient.GetFromJsonAsync<Tuple<byte, byte>>("/birthday/my");
            month = my.Item1;
            day = my.Item2;
        }
        catch { }
    }

    public void OnBirthdayChange()
    {
        try
        {
            httpClient.PostAsync($"/birthday/my?month={month}&day={day}", null);
        }
        catch { }
    }
}