﻿@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@using Humanizer
@attribute [DashboardItemAttribute(Name = "Upcoming Birthdays", Icon = "bi bi-cake", ComponentType = typeof(UpcomingBirthdaysDashboardItem))]
@inject HttpClient httpClient

@if (birthdays != null)
{
    <div class="d-flex flex-column gap-3">
        @foreach (var (id, date) in birthdays)
        {
            <div>
                <UserCardSmall UserId="id" />
                <small class="text-body-secondary">@date.Humanize()</small>
            </div>
        }
    </div>
}
else
{
    <p class="card-text">No Upcoming birthdays <i class="bi bi-emoji-frown"></i></p>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private Dictionary<ulong, DateTime> birthdays;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            birthdays = await httpClient.GetFromJsonAsync<Dictionary<ulong, DateTime>>("/birthday/closest");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }
}