﻿@using CurrencyPlugin.Shared.Api
@inject HttpClient httpClient

@if (CurrencyInfo == null)
{
    <div class="form-check form-switch placeholder-wave">
        <input class="form-check-input placeholder" disabled="disabled" type="checkbox" role="switch" />
        <label class="form-check-label placeholder">XXX - Xxxxxxxxxxxx Xxxxx</label>
    </div>
}
else
{
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="cur-sw-@CurrencyInfo.Id" checked="@IsSubscribed" @onchange="(e) => OnSwitchChange((bool)e.Value)" />
        <label class="form-check-label" for="cur-sw-@CurrencyInfo.Id">@CurrencyInfo.Name (<span class="text-secondary">@CurrencyInfo.CharCode</span>)</label>
    </div>
}

@code {
    [Parameter]
    public ApiCurrencyInfo CurrencyInfo { get; set; }

    [Parameter]
    public bool IsSubscribed { get; set; }

    private async Task OnSwitchChange(bool value)
    {
        try
        {
            await httpClient.PostAsync($"/currency/{(value ? "" : "un")}subscribe?currencyId={CurrencyInfo.Id}", null);
        }
        catch { }
    }
}
