﻿@using CurrencyPlugin.Shared.Api

<div class="col">
    <div class="d-flex flex-column m-1">
        <b title="@CurrencyInfo.Name">@CurrencyInfo.CharCode</b>
        <span class="text-secondary">@CurrencyInfo.CharCode<em class="text-body">@CurrencyHistory.CurrentNominal</em> = <em class="text-body">@CurrencyHistory.Current.ToString("0.00")</em>RUB</span>
        @if (CurrencyHistory.Previous > 0)
        {
            var percent = CurrencyHistory.Current / CurrencyHistory.Previous - 1;
            <span>(<em>@percent.ToString("P2")</em><i class="bi bi-arrow-@(percent >= 0 ? "up text-danger" : "down text-success")"></i>)</span>
        }
    </div>
</div>

@code {
    [Parameter]
    public ApiCurrencyInfo CurrencyInfo { get; set; }

    [Parameter]
    public ApiCurrencyHistory CurrencyHistory { get; set; }
}
