﻿@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@using CurrencyPlugin.Shared.Api
@using Humanizer
@using System.Net.Http.Json
@attribute [UserSettingsItem(Name = "Currency", ComponentType = typeof(CurrencyUserSettingsItem), Order = 80)]
@inject HttpClient httpClient

<div class="d-flex flex-column overflow-auto" style="max-height:180px;">
    @if (setting == null)
    {
        @for (var i = 0; i < 10; i++)
        {
            <CurrencyUserSettingsSwitch CurrencyInfo="null" />
        }
    }
    else
    {
        @foreach (var item in setting.Currencies)
        {
            <CurrencyUserSettingsSwitch CurrencyInfo="item" IsSubscribed="setting.Subscriptions.Contains(item.Id)" />
        }
    }
</div>

@code {
    private ApiCurrencySettings setting;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            setting = await httpClient.GetFromJsonAsync<ApiCurrencySettings>("/currency/subscriptionList");
        }
        catch { }
    }
}