﻿@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@using CurrencyPlugin.Shared.Api
@using Humanizer
@attribute [DashboardItemAttribute(Name = "Currencies", Icon = "bi bi-currency-exchange", ComponentType = typeof(CurrencyDashboardItem))]
@inject HttpClient httpClient

@if (dash != null)
{
    <div class="container">
        <div class="row row-cols-auto">
            @foreach (var (currencyId, history) in dash.Histories)
            {
                <CurrencyDashboardPartialItem CurrencyInfo="dash.Currencies.First(c => c.Id == currencyId)" CurrencyHistory="history" />
            }
        </div>
    </div>
}
else
{
    <p class="card-text">No currencies info</p>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private ApiCurrencyDash dash;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dash = await httpClient.GetFromJsonAsync<ApiCurrencyDash>("/currency/dashboard");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }
}