﻿<div class="mx-3 flex-fill">
    <div>
        @foreach (var floor in SelectedAbyss.SpiralAbyss.Floors)
        {
            <div class="border rounded p-3 text-center mb-3">
                <span class="me-3">Floor @floor.Index</span>
                <b><i class="bi bi-star-fill"></i> @floor.Star</b>
                <div>
                    @foreach (var level in floor.Levels)
                    {
                        <div class="border rounded p-1 my-3">
                            <span class="me-3">@floor.Index-@level.Index</span>
                            <b><i class="bi bi-star-fill"></i> @level.Star</b>
                            <div class="d-flex gap-5 justify-content-center">
                                @foreach (var battle in level.Battles)
                                {
                                    <div>
                                        <span>@DateTimeOffset.FromUnixTimeSeconds(battle.Timestamp).ToString("t")</span>
                                        <div class="d-flex gap-1">
                                            @foreach (var avatar in battle.Avatars)
                                            {
                                                var resolved = ResolveAvatar(avatar);
                                                if (resolved == null)
                                                {
                                                    <div class="d-flex flex-column">
                                                        <img class="rounded-top gi-@(avatar.Rarity)star-rarity-bg" src="@avatar.Icon" height="96" width="96">
                                                        <span class="rounded-bottom bg-secondary text-bg-secondary fw-bold fs-5">@avatar.Level</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="d-flex flex-column" title="@GetTitle(resolved)">
                                                        <img class="rounded-top gi-@(resolved.Base.Rarity)star-rarity-bg" src="@resolved.Base.Icon" height="96" width="96">
                                                        <span class="rounded-bottom bg-secondary text-bg-secondary fw-bold fs-5">@avatar.Level</span>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public SpiralAbyssHistoryWrapper SelectedAbyss { get; set; }

    private RecordsCharacterDetailList ResolveAvatar(Avatar avatar)
    {
        return SelectedAbyss.CharacterDetails.List.FirstOrDefault(details => details.Base.Id == avatar.Id);
    }

    private string GetTitle(RecordsCharacterDetailList character)
    {
        return $"C{character.Constellations.Count(c => c.IsActived)}R{character.Weapon.AffixLevel}";
    }
}
