﻿@using ChipBot.Core.Web.Models
@using ChipBot.Core.Web.Services
@using HoyolabPlugin.Shared.Api.Models.Hakushin
@using HoyolabPlugin.Web.Models
@attribute [DashboardItemAttribute(Name = "Genshin Week", Icon = "hoyo-gi-geo", ComponentType = typeof(GenshinCalendarDashboardItem))]
@inject HttpClient httpClient
@inject LocalStorageService localStorage

@if (initialLoadDone)
{
    <GenshinCalendar Characters="GetSubbedCharacters" Weapons="GetSubbedWeapons" Items="data?.Items" TodayOnly="true" />
}
else
{
    <div class="spinner-border m-5"></div>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private HakushinData data;

    private GenshinCalendarSubs subs;

    private bool initialLoadDone = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            data = await httpClient.GetFromJsonAsync<HakushinData>("/hakushin/data?full=false");
            data.CharactersFull = [];
            data.WeaponsFull = [];
            data.ItemsFull = [];

            subs = await localStorage.GetValueAsync<GenshinCalendarSubs>(GenshinCalendarSubs.localStorageKey) ?? new();

            await GetSubsFull(true);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            WebAppState.PushToast(new ToastModel()
                {
                    Icon = "bi bi-exclamation-square",
                    Message = $"Error while hakushin or subscribtions data: {ex.Message}",
                    IsSimple = true
                });
        }

        initialLoadDone = true;
    }

    private List<CharacterFull> GetSubbedCharacters
    {
        get
        {
            if (subs == null) return null;
            var result = new List<CharacterFull>();
            foreach (var id in subs.Characters)
            {
                if (data.CharactersFull?.TryGetValue(id, out var character) ?? false)
                {
                    result.Add(character);
                }
            }
            return result;
        }
    }

    private List<WeaponFull> GetSubbedWeapons
    {
        get
        {
            if (subs == null) return null;
            var result = new List<WeaponFull>();
            foreach (var id in subs.Weapons)
            {
                if (data.WeaponsFull?.TryGetValue(id, out var weapon) ?? false)
                {
                    result.Add(weapon);
                }
            }
            return result;
        }
    }

    private async Task GetSubsFull(bool skipSave = false)
    {
        try
        {
            if (!skipSave)
            {
                await localStorage.SetValueAsync(GenshinCalendarSubs.localStorageKey, subs);
            }

            foreach (var characterId in subs.Characters)
            {
                if (!data.CharactersFull.ContainsKey(characterId))
                {
                    data.CharactersFull.Add(characterId, await httpClient.GetFromJsonAsync<CharacterFull>($"/hakushin/character?id={characterId}"));
                }
            }

            foreach (var weaponId in subs.Weapons)
            {
                if (!data.WeaponsFull.ContainsKey(weaponId))
                {
                    data.WeaponsFull.Add(weaponId, await httpClient.GetFromJsonAsync<WeaponFull>($"/hakushin/weapon?id={weaponId}"));
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            WebAppState.PushToast(new ToastModel()
                {
                    Icon = "bi bi-exclamation-square",
                    Message = $"Error while getting specific character information: {ex.Message}",
                    IsSimple = true
                });
        }
    }
}