﻿@using ChipBot.Core.Web.Models
@using Humanizer
@inject HttpClient httpClient

<ul class="nav nav-tabs">
    <li class="nav-item">
        <span class="nav-link @(abyssSelected ? "active" : "") @(abyssList == null ? "disabled" : "")" role="button" @onclick="() => abyssSelected = true">Spiral Abyss</span>
    </li>
    <li class="nav-item">
        <span class="nav-link @(!abyssSelected ? "active" : "") @(theatreList == null ? "disabled" : "")" role="button" @onclick="() => abyssSelected = false">Imaginarium Theatre</span>
    </li>
</ul>
<div class="border border-top-0 py-3 d-flex flex-row">
    @if (abyssSelected && abyssList != null)
    {
        <div class="list-group mx-3">
            @foreach (var abyss in abyssList)
            {
                <div class="list-group-item list-group-item-action @(selectedAbyss == abyss ? "active" : "")" role="button" @onclick="() => SetSelectedAbyss(abyss)">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 me-3">@DateTimeOffset.FromUnixTimeSeconds(abyss.SpiralAbyss.StartTime).ToString("d") - @DateTimeOffset.FromUnixTimeSeconds(abyss.SpiralAbyss.EndTime).ToString("d")</h5>
                        <small>Abyss ID @abyss.SpiralAbyss.ScheduleId</small>
                    </div>
                    <span class="badge bg-@(abyss.SpiralAbyss.TotalStar >= 36 ? "primary" : "secondary") rounded-pill"><i class="bi bi-star-fill"></i> @abyss.SpiralAbyss.TotalStar</span>
                </div>
            }
        </div>
        @if (selectedAbyss != null)
        {
            <GenshinAbyss SelectedAbyss="selectedAbyss" />
        }
    }
    else if (theatreList != null)
    {
        <div class="list-group mx-3">
            @foreach (var theatre in theatreList)
            {
                <div class="list-group-item list-group-item-action @(selectedTheatre == theatre ? "active" : "")" role="button" @onclick="() => SetSelectedTheatre(theatre)">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 me-3">@DateTimeOffset.FromUnixTimeSeconds(theatre.ImaginariumTheater.Schedule.StartTime).ToString("d") - @DateTimeOffset.FromUnixTimeSeconds(theatre.ImaginariumTheater.Schedule.EndTime).ToString("d")</h5>
                        <small>Theatre ID @theatre.ImaginariumTheater.Schedule.ScheduleId</small>
                    </div>
                    <span class="badge bg-@(theatre.ImaginariumTheater.Stat.MedalNum >= 10 ? "primary" : "secondary") rounded-pill"><i class="bi bi-star-fill"></i> @theatre.ImaginariumTheater.Stat.MedalNum</span>
                </div>
            }
        </div>
    }
</div>

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    [Parameter]
    public HoyolabGameAccountApi Account { get; set; }

    private IOrderedEnumerable<SpiralAbyssHistoryWrapper> abyssList;
    private IOrderedEnumerable<ImaginariumTheatreHistoryWrapper> theatreList;
    private SpiralAbyssHistoryWrapper selectedAbyss;
    private ImaginariumTheatreHistoryWrapper selectedTheatre;

    private bool abyssSelected = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            var abyssApiList = await httpClient.GetFromJsonAsync<List<SpiralAbyssHistoryWrapper>>($"/hoyolab/abyss/history?key={GameAccountKey.Build(Account).ToString()}");
            var theatreApiList = await httpClient.GetFromJsonAsync<List<ImaginariumTheatreHistoryWrapper>>($"/hoyolab/theatre/history?key={GameAccountKey.Build(Account).ToString()}");
            abyssList = abyssApiList.OrderByDescending(a => a.SpiralAbyss.ScheduleId);
            theatreList = theatreApiList.OrderByDescending(a => a.ImaginariumTheater.Schedule.ScheduleId);

            abyssSelected = abyssList != null;
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private void SetSelectedAbyss(SpiralAbyssHistoryWrapper abyssData)
    {
        if (selectedAbyss == abyssData)
        {
            selectedAbyss = null;
        }
        else
        {
            selectedAbyss = abyssData;
        }
    }

    private void SetSelectedTheatre(ImaginariumTheatreHistoryWrapper theatreData)
    {
        if (selectedTheatre == theatreData)
        {
            selectedTheatre = null;
        }
        else
        {
            selectedTheatre = theatreData;
        }
    }
}