﻿@using HoyolabPlugin.Shared.Api.Models.Hakushin

@if (sorted != null)
{
    <div class="d-flex flex-wrap gap-3">
        @foreach (var (id, weapon) in sorted)
        {
            <div class="card gi-text-bg" style="width: 192px;">
                <img src="https://api.hakush.in/gi/UI/@(weapon.Icon).webp" class="card-img-top gi-@(weapon.Rank)star-rarity-bg" loading="lazy">

                @if (SubList != null)
                {
                    <div class="position-absolute position-absolute d-flex flex-column align-items-center justify-content-center">
                        <i role="button" class="bi @(SubList.Contains(id) ? "bi-bookmark-star-fill" : "bi-bookmark") fs-1" @onclick="() => ToggleSub(id)"></i>
                    </div>
                }

                <div class="card-body text-center">
                    <h5 class="card-title text-dark">@weapon.En</h5>
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public Dictionary<string, Weapon> Weapons { get; set; }

    [Parameter]
    public List<string> SubList { get; set; }

    [Parameter]
    public Action NotifySubChange { get; set; }

    private IOrderedEnumerable<KeyValuePair<string, Weapon>> sorted;

    protected override void OnInitialized()
    {
        sorted = Weapons?.ToList()
            .OrderByDescending(kv => SubList.Contains(kv.Key))
            .ThenByDescending(kv => kv.Value.Rank)
            .ThenBy(kv => kv.Value.En);
    }

    private void ToggleSub(string id)
    {
        if (SubList.Contains(id))
        {
            SubList.Remove(id);
        }
        else
        {
            SubList.Add(id);
        }

        NotifySubChange?.Invoke();
    }
}
