﻿@using HoyolabPlugin.Shared.Api.Models.Hakushin

@if (sorted != null)
{
    <div class="d-flex flex-wrap gap-3">
        @foreach (var (id, character) in sorted)
        {
            <div class="card gi-text-bg" style="width: 192px;">
                <img src="https://api.hakush.in/gi/UI/@(character.Icon).webp" class="card-img-top gi-@(RankToRarity(character.Rank))star-rarity-bg" loading="lazy">

                <div class="position-absolute position-absolute d-flex flex-column align-items-center justify-content-center">
                    <img src="https://api.hakush.in/gi/UI/@(character.Element).webp" width="48" />
                    @if (SubList != null)
                    {
                        <i role="button" class="bi @(SubList.Contains(id) ? "bi-bookmark-star-fill" : "bi-bookmark") fs-1" @onclick="() => ToggleSub(id)"></i>
                    }
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title text-dark">@character.En</h5>
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public Dictionary<string, Character> Characters { get; set; }

    [Parameter]
    public List<string> SubList { get; set; }

    [Parameter]
    public Action NotifySubChange { get; set; }

    private IOrderedEnumerable<KeyValuePair<string, Character>> sorted;

    protected override void OnInitialized()
    {
        sorted = Characters?.ToList()
            .OrderByDescending(kv => SubList.Contains(kv.Key))
            .ThenByDescending(kv => RankToRarity(kv.Value.Rank))
            .ThenByDescending(kv => kv.Value.Release);
    }

    private void ToggleSub(string id)
    {
        if (SubList.Contains(id))
        {
            SubList.Remove(id);
        }
        else
        {
            SubList.Add(id);
        }

        NotifySubChange?.Invoke();
    }

    private int RankToRarity(string rarity)
    {
        switch (rarity)
        {
            case "QUALITY_ORANGE":
            case "QUALITY_ORANGE_SP":
                return 5;

            case "QUALITY_PURPLE":
                return 4;

            default:
                return 1;
        }
    }
}
