﻿@using ChipBot.Core.Web.Models
@using Humanizer
@inject HttpClient httpClient

@if (dailyData != null)
{
    <div class="d-flex flex-column">
        <div>
            <span>Resin: </span>
            <strong>@dailyData.CurrentResin / @dailyData.MaxResin</strong>
            @if (dailyData.ResinRecoveryTime > 0)
            {
                <span class="ms-1 text-secondary">full in <strong>@TimeSpan.FromSeconds(dailyData.ResinRecoveryTime).Humanize()</strong></span>
            }
        </div>
        <div>
            <span>Home Coins: </span>
            <strong>@dailyData.CurrentHomeCoin / @dailyData.MaxHomeCoin</strong>
            @if (dailyData.HomeCoinRecoveryTime > 0)
            {
                <span class="ms-1 text-secondary">full in <strong>@TimeSpan.FromSeconds(dailyData.HomeCoinRecoveryTime).Humanize()</strong></span>
            }
        </div>
        <div>
            <span>Dailies: </span>
            <strong>@dailyData.FinishedTaskNum / @dailyData.TotalTaskNum</strong>
            @if (dailyData.FinishedTaskNum >= dailyData.TotalTaskNum && dailyData.IsExtraTaskRewardReceived)
            {
                <span class="ms-1 text-success">reward received</span>
            }
            else
            {
                <span class="ms-1 text-danger">reward is not received</span>
            }
        </div>
        <div>
            <span>Weekly Bosses: </span>
            <strong>@(dailyData.ResinDiscountNumLimit - dailyData.RemainResinDiscountNum) / @dailyData.ResinDiscountNumLimit</strong>
        </div>

        <p>Expeditions:</p>
        @foreach (var exp in dailyData.Expeditions)
        {
            <div>
                <img src="@exp.AvatarSideIcon" width="48" height="48" style="margin-top: -8px;" />
                <strong class="ms-1">@exp.Status</strong>
                @if (exp.RemainedTime > 0)
                {
                    <span class="ms-1 text-secondary">done in <strong>@TimeSpan.FromSeconds(exp.RemainedTime).Humanize()</strong></span>
                }
            </div>
        }
    </div>
}
else
{
    <div class="d-flex flex-column placeholder-wave">
        <div>
            <span>Resin: </span>
            <strong class="placeholder">160 / 160</strong>
        </div>
        <div>
            <span>Home Coins: </span>
            <strong class="placeholder">1000 / 1000</strong>
        </div>
        <div>
            <span>Dailies: </span>
            <strong class="placeholder">4 / 4</strong>
        </div>
        <div>
            <span>Weekly Bosses: </span>
            <strong class="placeholder">3 / 3</strong>
        </div>

        <p>Expeditions:</p>
        @for (var i = 0; i < 5; i++)
        {
            <div class="d-flex align-items-center">
                <img class="placeholder" width="48" height="48" />
                <strong class="placeholder">status</strong>
            </div>
        }
    </div>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    [Parameter]
    public HoyolabGameAccountApi Account { get; set; }

    private DailyNoteData dailyData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dailyData = await httpClient.GetFromJsonAsync<DailyNoteData>($"/hoyolab/daily?key={GameAccountKey.Build(Account).ToString()}");
            _ = Refresh();
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async Task Refresh()
    {
        while (true)
        {
            StateHasChanged();
            await Task.Delay(TimeSpan.FromSeconds(1));
        }
    }
}
