﻿@using HoyolabPlugin.Shared.Api.Models.Hakushin
<ul class="@(TodayOnly ? "m-0 p-0" : "list-group list-group-horizontal-xl")">
    @for (var i = 0; i < 7; i++)
    {
        var date = weekStart.AddDays(i);
        if (TodayOnly && date.Day != day) continue;

        <li class="@(TodayOnly ? "" : "list-group-item") d-flex flex-column align-items-center justify-content-start @(!TodayOnly && date.Day == day ? "list-group-item-light" : "")">
            <span>@date.DayOfWeek <span class="text-secondary">@date.Day / @date.Month</span></span>
            @if (mats != null)
            {
                @foreach (var mat in mats)
                {
                    if (!IsAvailable(date.DayOfWeek, mat.Item.Week.Value)) continue;
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <img role="button" src="https://api.hakush.in/gi/UI/@(mat.Item.Icon).webp" width="128" data-bs-toggle="collapse" data-bs-target="#collapseItem@(mat.Item.Name.GetHashCode())" aria-expanded="false" aria-controls="collapseExample" />
                        <div class="collapse" id="collapseItem@(mat.Item.Name.GetHashCode())">
                            <div class="d-flex flex-column border rounded p-1 gap-1">
                                @foreach (var character in mat.Characters)
                                {
                                    <img src="https://api.hakush.in/gi/UI/@(character.Icon).webp" width="128" />
                                }

                                @foreach (var weapon in mat.Weapons)
                                {
                                    <img src="https://api.hakush.in/gi/UI/@(weapon.Icon).webp" width="128" />
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </li>
    }
</ul>

@code {
    [Parameter]
    public bool TodayOnly { get; set; } = false;

    [Parameter]
    public Dictionary<string, Item> Items { get; set; }

    [Parameter]
    public List<CharacterFull> Characters { get; set; }

    [Parameter]
    public List<WeaponFull> Weapons { get; set; }

    private List<Mats> mats;

    private DateTime currentDate;
    private DateTime weekStart;
    private int day;

    protected override void OnInitialized()
    {
        var currentDate = DateTime.Now.Date;
        day = currentDate.Day;

        while (currentDate.DayOfWeek != DayOfWeek.Monday)
        {
            currentDate = currentDate.AddDays(-1);
        }

        weekStart = currentDate;

        mats = GetMats();
    }

    private static readonly Dictionary<DayOfWeek, List<long>> weekMap = new()
    {
        { DayOfWeek.Sunday, [0, 1, 2] },
        { DayOfWeek.Monday, [0] },
        { DayOfWeek.Tuesday, [1] },
        { DayOfWeek.Wednesday, [2] },
        { DayOfWeek.Thursday, [0] },
        { DayOfWeek.Friday, [1] },
        { DayOfWeek.Saturday, [2] },
    };
    private bool IsAvailable(DayOfWeek dayOfWeek, long week)
    {
        return weekMap[dayOfWeek].Contains(week);
    }

    private IEnumerable<long> GetItemIdsForCharacter(CharacterFull character)
    {
        var ascensionIds = character.Materials.Ascensions.SelectMany(a => a.Mats).Select(m => m.Id).Distinct();
        var talentIds = character.Materials.Talents.SelectMany(t => t.SelectMany(t => t.Mats)).Select(m => m.Id).Distinct();

        return ascensionIds.Concat(talentIds);
    }

    private IEnumerable<long> GetItemsIdsForWeapon(WeaponFull weapon)
    {
        return weapon.Materials.Select(kv => kv.Value).SelectMany(m => m.Mats).Select(m => m.Id).Distinct();
    }

    private List<Mats> GetMats()
    {
        if (Characters == null || Weapons == null) return null;

        var mats = new Dictionary<long, Mats>();

        foreach (var character in Characters)
        {
            var ids = GetItemIdsForCharacter(character);
            foreach (var id in ids)
            {
                if (mats.TryGetValue(id, out var mat))
                {
                    if (mat.Characters.Contains(character)) continue;
                    mat.Characters.Add(character);
                }
                else
                {
                    mats.Add(id, new Mats()
                        {
                            Item = GetItem(id),
                            Characters = [character],
                            Weapons = []
                        });
                }
            }
        }

        foreach (var weapon in Weapons)
        {
            var ids = GetItemsIdsForWeapon(weapon);
            foreach (var id in ids)
            {
                if (mats.TryGetValue(id, out var mat))
                {
                    if (mat.Weapons.Contains(weapon)) continue;
                    mat.Weapons.Add(weapon);
                }
                else
                {
                    mats.Add(id, new Mats()
                        {
                            Item = GetItem(id),
                            Characters = [],
                            Weapons = [weapon]
                        });
                }
            }
        }

        return mats.Values.Where(m => m.Item.Week.HasValue && m.Item.Rank == 4).ToList();
    }

    private Item GetItem(long id)
    {
        return Items[id.ToString()];
    }

    private class Mats
    {
        public Item Item { get; set; }
        public List<CharacterFull> Characters { get; set; }
        public List<WeaponFull> Weapons { get; set; }
    }
}