﻿<div class="d-flex align-items-center">
    <img src="@GetAvatar()" width="32" height="32" />
    <i class="d-flex align-items-center ms-1 fs-1 hoyo-@GetGameIcon()"></i>
    <span class="ms-1">@GetDisplayName()</span>
    @if (GetLevel() != null)
    {
        <span class="ms-1">@GetLevel()</span>
    }
</div>

@code {
    [Parameter]
    public HoyolabGameAccountApi Account { get; set; }

    private string GetGameIcon()
    {
        return Account.Game switch
        {
            "hk4e_global" => "gi",
            "hkrpg_global" => "hsr",
            _ => "hoyolab"
        };
    }

    private string GetDisplayName()
    {
        return Account.GenshinData?.Role.Nickname
            ?? Account.DisplayName;
    }

    private string GetLevel()
    {
        return Account.GenshinData?.Role.Level.ToString();
    }

    private string GetAvatar()
    {
        return Account.GenshinData?.Role.GameHeadIcon
            ?? Account.HsrData?.CurHeadIconUrl;
    }
}
