﻿@using ChipBot.Core.Web.Models
@using Humanizer
@inject HttpClient httpClient

@if (dailyData != null)
{
    <div class="d-flex flex-column">
        <div>
            <span>Stamina: </span>
            <strong>@dailyData.CurrentStamina / @dailyData.MaxStamina</strong>
            @if (dailyData.StaminaRecoverTime > 0)
            {
                <span class="ms-1 text-secondary">full in <strong>@TimeSpan.FromSeconds(dailyData.StaminaRecoverTime).Humanize()</strong></span>
            }
        </div>

        <p>Expeditions:</p>
        @foreach (var exp in dailyData.Expeditions)
        {
            <div>
                @* <img src="@exp.AvatarSideIcon" width="48" height="48" style="margin-top: -8px;" /> *@
                <strong class="ms-1">@exp.Status</strong>
                @if (exp.RemainedTime > 0)
                {
                    <span class="ms-1 text-secondary">done in <strong>@TimeSpan.FromSeconds(exp.RemainedTime).Humanize()</strong></span>
                }
            </div>
        }
    </div>
}
else
{
    <div class="d-flex flex-column placeholder-wave">
        <div>
            <span>Stamina: </span>
            <strong class="placeholder">160 / 160</strong>
        </div>

        <p>Expeditions:</p>
        @for (var i = 0; i < 5; i++)
        {
            <div class="d-flex align-items-center">
                <img class="placeholder" width="48" height="48" />
                <strong class="placeholder">status</strong>
            </div>
        }
    </div>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    [Parameter]
    public HoyolabGameAccountApi Account { get; set; }

    private DailyNoteHsrData dailyData;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            dailyData = await httpClient.GetFromJsonAsync<DailyNoteHsrData>($"/hoyolab/daily?key={GameAccountKey.Build(Account).ToString()}");
            _ = Refresh();
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async Task Refresh()
    {
        while (true)
        {
            StateHasChanged();
            await Task.Delay(TimeSpan.FromSeconds(1));
        }
    }
}
