﻿@using ChipBot.Core.Web.Shared
@using RafflePlugin.Shared

@if (RaffleStatistics != null)
{
    <div class="d-flex flex-column">
        <RaffleLeaderboardRowComponent Text="Biggest win:" UserId="RaffleStatistics.BiggestWinUserId" Value="RaffleStatistics.BiggestWin" />
        <RaffleLeaderboardRowComponent Text="Biggest total winner:" UserId="RaffleStatistics.TotalPtsWonUserId" Value="RaffleStatistics.TotalPtsWon" />

        <RaffleLeaderboardRowComponent Text="Biggest lose:" UserId="RaffleStatistics.BiggestLoseUserId" Value="RaffleStatistics.BiggestLose" />
        <RaffleLeaderboardRowComponent Text="Biggest total loser:" UserId="RaffleStatistics.TotalPtsLostUserId" Value="RaffleStatistics.TotalPtsLost" />
    </div>
}

@code {
    [Parameter]
    public RaffleLeaderboardleStatistics RaffleStatistics { get; set; } = new();
}
