﻿@using RafflePlugin.Shared

@if (RaffleStatistics != null)
{
    <div class="d-flex flex-column">
        <div>
            <span>Total Won Times: </span>
            <span><strong>@RaffleStatistics.TotalWon</strong></span>
        </div>

        <div>
            <span>Total Lost Times: </span>
            <span><strong>@RaffleStatistics.TotalLost</strong></span>
        </div>

        <div>
            <span>Winrate: </span>
            <span><strong>@((RaffleStatistics.TotalWon / (RaffleStatistics.TotalWon + RaffleStatistics.TotalLost)).ToString("P0"))</strong></span>
        </div>

        <div>
            <span>Biggest Win: </span>
            <span><strong>@RaffleStatistics.BiggestWin</strong></span>
        </div>

        <div>
            <span>Biggest Lose: </span>
            <span><strong>@RaffleStatistics.BiggestLose</strong></span>
        </div>

        <div>
            <span>Total Won Points: </span>
            <span><strong>@RaffleStatistics.TotalPtsWon</strong></span>
        </div>

        <div>
            <span>Total Lost Points: </span>
            <span><strong>@RaffleStatistics.TotalPtsLost</strong></span>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-column placeholder-wave">
        <div>
            <span>Total Won Times: </span>
            <span><strong class="placeholder">00</strong></span>
        </div>

        <div>
            <span>Total Lost Times: </span>
            <span><strong class="placeholder">00</strong></span>
        </div>

        <div>
            <span>Winrate: </span>
            <span><strong class="placeholder">00%</strong></span>
        </div>

        <div>
            <span>Biggest Win: </span>
            <span><strong class="placeholder">000000</strong></span>
        </div>

        <div>
            <span>Biggest Lose: </span>
            <span><strong class="placeholder">00000</strong></span>
        </div>

        <div>
            <span>Total Won Points: </span>
            <span><strong class="placeholder">0000000</strong></span>
        </div>

        <div>
            <span>Total Lost Points: </span>
            <span><strong class="placeholder">0000000</strong></span>
        </div>
    </div>
}


@code {
    [Parameter]
    public RaffleStatistics RaffleStatistics { get; set; }
}
