﻿@using ChipBot.Core.Web.Shared

@if (UserId > 0)
{
    <div class="mb-1 d-flex flex-column flex-md-row">
        <span class="me-1">@Text</span>
        <div class="d-flex">
            <UserCardSmall UserId="@UserId" />
            <span class="ms-1">@Value <i class="bi bi-coin"></i></span>
        </div>
    </div>
}
else
{
    <div class="mb-1 d-flex flex-column flex-md-row placeholder-wave">
        <span class="me-1">@Text</span>
        <div class="d-flex">
            <UserCardSmall UserId="@UserId" />
            <span class="ms-1 placeholder">0000000 <i class="bi bi-coin"></i></span>
        </div>
    </div>
}


@code {
    [Parameter]
    public ulong UserId { get; set; }

    [Parameter]
    public long Value { get; set; }

    [Parameter]
    public string Text { get; set; }
}
