﻿@page "/app/wrongchannel/list"
@using ChipBot.Core.Web.Models
@using Humanizer
@using System.Net.Http.Json
@attribute [PageInfo(Icon = "bi bi-patch-exclamation", Link = "/app/wrongchannel/list", Name = "Wrong Channel", Roles = RoleDefaults.Owner, Order = 35)]
@inject HttpClient httpClient

<h1>Wrong Channel</h1>
@if (pictures != null)
{
    <div class="m-3 col-10 col-sm-8 col-md-6 col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Image url" @bind-value="inputValue" />
            <button class="btn btn-outline-secondary" type="button" @onclick="() => Add(inputValue)">Add</button>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        @foreach (var picture in pictures)
        {
            <div class="m-3 col-9 col-md-5 col-lg-3 rounded">
                <div class="position-relative">
                    <img src="@picture" class="w-100 rounded">
                    <a role="button" class="card-link link-danger position-absolute bottom-0 end-0 fs-3 m-1" @onclick="() => Remove(picture)"><i class="bi bi-trash"></i></a>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No images</p>
}

@code {
    [CascadingParameter]
    private WebAppState WebAppState { get; set; }

    private List<string> pictures;
    private string inputValue;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            pictures = await httpClient.GetFromJsonAsync<List<string>>("/wrongchannel/list");
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async Task Remove(string image)
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            var response = await httpClient.DeleteAsync($"/wrongchannel/remove?uri={image}");
            WebAppState.PushToast(ToastModel.FromSuccess("Image removed."));
            pictures.Remove(image);
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }

    private async Task Add(string image)
    {
        try
        {
            using var loader = WebAppState.GetLoader();
            var response = await httpClient.PostAsync($"/wrongchannel/add?uri={image}", null);
            WebAppState.PushToast(ToastModel.FromSuccess("Image added."));
            pictures.Add(image);
            inputValue = "";
        }
        catch (Exception ex)
        {
            WebAppState.PushToast(ToastModel.FromException(ex));
        }
    }
}